@use '../../../utilities/variables' as *;
@use '../../../utilities/mixins' as *;
@use '../../../utilities/maps' as *;

.forecast {
  &__content {
    @include content-rules;
    @include createBreakpoints(min-width, $forecast-content-cols-size, grid-template-columns);
    @include createBreakpoints(min-width, $forecast-content-gap, column-gap);
    @include grid-container(center, start);
  }

  &__button {
    background-color: $grey;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: $fw-sb;
    letter-spacing: 0.05rem;
    line-height: normal;
    padding: 0.375rem 1rem,
  }
}