// Colors
$black: hsl(0, 0%, 0%);
$blue-100: hsl(198, 63%, 73%);
$blue-300: hsl(212, 58%, 52%);
$grey: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);

// Font weights
$fw-lt: 300;
$fw-sb: 600;
$fw-bd: 700;